<?xml version="1.0" encoding="utf-8"?>
<!-- Manifiest lo que hace es: define capacidades, permisos y la actividad de entrada -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- La app puede usar la cámara hardware -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Permiso como tal -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Contenedor principal de la aplicación -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Camera">

        <!-- Actividad principal que se abre desde el lanzador -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Camera">

            <!-- Punto de entrada y acceso desde el lanzador -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>
